:root {
  --colNum: 4;
}

body {
  background-color: rgb(250, 207, 231);
}

#panel {
  background: white;
}

#board {
  display: grid;
  background-color: white;
  border: 5px solid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(var(--colNum), minmax(0.00001px, 1fr));
}

.item {
  justify-content: center;
  align-items: center;
  background-color: rgba(223, 177, 39, 0.24);
  border: 2px black solid;
}
